# Betriebssystem-spezifische Dateien
Thumbs.db
.DS_Store

# IDE- und Editor-spezifische Dateien
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Build- und Kompilierungsdateien
/bin/
/obj/
*.exe
*.dll
*.class
*.o

# Umgebungsdateien
.env
.env.local

# Log-Dateien
*.log

# Paketmanager-spezifische Dateien
node_modules/
vendor/

# Virtuelle Umgebungen (Python)
venv/
.venv/
